build/
dist/
node_modules/
.pnpm-store/
invite.url
*.tsbuildinfo
packages/*/temp
src/*/temp
.parcel-cache
.rush

# base version present, up to the user for the rest
config.env

# junk
.DS_Store
*.log
npm-debug.log*
*.pid
*.seed
*.pid.lock
.lock-wscript
jspm_packages/
.npm
.eslintcache
.node_repl_history
/temp

# Rush temporary files
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/
