@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        color-scheme: dark;
        @apply font-primary font-normal;

        /* base font size / rem basis */
        font-size: 16px;
    }
    html {
        @apply w-full h-full;
        @apply bg-primary-900 text-gray-100;
    }

    body {
        @apply w-full min-h-full;

        /* so drawers don't introduce a weird slide when removing the scrollbar */
    }

    *, *::after, *::before {
        @apply box-border fill-current;
    }
}

.scroll-w-auto {
    scrollbar-width: auto;
}

.scroll-w-thin {
    scrollbar-width: thin;
}

.scroll-w-none {
    scrollbar-width: none;
}

hr {
    @apply border-primary-500 my-4;
}
